{% extends 'shop/shop.html' %}

{% load static %}

{% block content %}
	<div class="product">
		<div class="block_product">
			<div class="name">{{ product.name }}</div>
			<div class="created_at">{{ product.created_at }}</div>
			<div class="img_product" style="background-image: url({{ product.image.url }})"></div>
			<div class="title">Описание</div>
			<div class="text">{{ product.text }}</div>
		</div>
		<div class="block_contact">
			<div class="price">{{ product.price }}₽</div>

			{% if request.user.is_authenticated %}
				<div class="contact">
					<div class="number">{{ product.user.phone }}</div>
				</div>
			{% else %}
				<div class="contact">
					<div class="number">Неодходимо авторизоваться, чтобы получить контактный номер продовца</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}


{% comment %} {{ product.price }}
{{ product.user.phone }} {% endcomment %}